*{
    padding: 0px;
    margin: 0px;
}
#body{
    background-color: #F4F3F9;
}
div{

}
#sections{
    display: flex;
}
.section1{
    width: 5%;
    box-sizing: border-box;
    height: 689px;
    top: 0px;
    position: sticky;
    border: 2px solid green;
}
.section2{
    width: 40%;
    box-sizing: border-box;
    height: 688px;
    top: 0px;
    position: sticky;

}
.section3{
    width: 60%;
    box-sizing: border-box;
    height: 4280px;

}
#top{
    width: 50px;
    height: 50px;
    padding-top: 200px;
}

.s1{
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
}
.t1{
    margin-top: 5px;
}

.t1:hover{
    border-top: 2px solid #2ECA7F;
    border-bottom:2px solid #2ECA7F;

}
.i1:hover{
    border-bottom:2px solid #2ECA7F;

}
.img{
    height: 600px;
    background-image: url(images/pic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer{
    background-color: #F4F3F9;
    height: 88px;
}
#footer{
    text-align: center;
    padding-top: 25px;
}
.article{
    height: 700px;
    border: 1px solid #2ECA7F;

}
h3, p{
    padding-top: 10px;
}
.p{
    letter-spacing:2px;
	line-height:25px;
}
.p1{
    padding-left: 50px;
}
.h1{
    padding: 200px 0px 20px 20px;
    font-size: 60px;
    color: #3E3F5E;
}
h3, p{
    padding: 2px 20px 20px 20px;
}
a{
    text-decoration: none;
    color: white;
}
#media{
    display: flex;
    width: 100%;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #2ECA7F;
    color: white;
    border: none;
}
.btn:hover{
    background-color: white;
    border: 3px solid #2ECA7F;
    color: #2ECA7F;
}
a:hover{
    color: #2ECA7F;
}
#btn{
    display: flex;
    margin-top: 30px;
}
.button{
    padding-left: 50px;
}
.art{
    padding: 50px 0px 5px 50px;
    font-size: 30px;
}
.arti{
    padding-left: 50px;
}
.th{
    font-size: 20px; font-weight: 700;
    padding-left: 45px;
}
.td{
    font-size: 20px; font-weight: 100;
}

.ex{
    padding: 0px 0px 0px 10px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 500;
}
.exp{
    padding-left: 50px;
}
.ar{
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.ar3{
    width: 40%;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
}
#rr{
    display: block;
}
@media all and (min-width:320px) and (max-width:1000px){
    #media{
        display: block;
        width: 90%;
        background-color: blue;
        border: 2px solid aqua;
    }
    .section1{
        height: 1200px;
        width: 10%;
    }
    .section2{
        position: relative;
        width: 100%;
        height: 600px;
    }
    .footer{
        height: 0px;
    }
    .section3{
        margin-top: 0px;
        width: 100%;

    }

}
@media all and (min-width:1000px) and (max-width:1300px){
    .img{
        height: 1200px;
        background-image: url(images/pic.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section1{
        height: 1300px;
    }
    .section2{
        height: 1300px;
    }
}